<div class="mars">
<div class="container px-2 py-5" id="gamesList">
  <div *ngIf='daysSinceLastGame() > 5'>
    <i style="color:#ffb700" class="bi bi-exclamation-circle-fill"></i> {{daysSinceLastGame()}} days since last game.
  </div>
  <h2 class="pb-2 border-bottom"> {{title}} ({{gameData.length}})</h2>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th><i style="color:#3767d0" class="bi bi-calendar3"></i> <span class='d-none d-sm-inline-block'> &nbsp;Date</span></th>
        <th><span class='d-none d-sm-inline-block'>1st&nbsp;</span> <i style="color:#ffd700" class="bi bi-award-fill"></i></th>
        <th><span class='d-none d-sm-inline-block'>2nd&nbsp;</span> <i style="color:#e0e4f8" class="bi bi-award-fill"></i></th>
        <th><span class='d-none d-sm-inline-block'>3rd&nbsp;</span> <i style="color:#ff9377" class="bi bi-award-fill"></i></th>
        <th><span class='d-none d-sm-inline-block'>Expansions&nbsp;</span> <i style="color:#3767d0" class="bi bi-stack"></i></th>
        <th><span class='d-none d-sm-inline-block'>Points&nbsp;</span> <i class="bi bi-bar-chart-fill"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let game of gameData" class="small" >
        <td> {{ toDate(game.playedOn) }} </td>
        <td class="px-1"> {{ game.first  }} </td>
        <td class="px-1"> {{ game.second }} </td>
        <td class="px-1"> {{ game.third }} </td>
        <td>
          <img *ngIf="game.venus" alt="venus" src="/assets/images/Venus_Next_icon.webp" width="20" height="20" />
          <img *ngIf="game.colonies" alt="colonies" src="/assets/images/Colonies_icon.webp" width="20" height="20" />
          <img *ngIf="game.turmoil" alt="turmoil" src="/assets/images/Turmoil_icon.webp" width="20" height="20" />
        </td>
        <td *ngIf='game.points > 0; else pointsNull'> {{ game.points }} </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container px-2" [hidden]="!hideLeaderboard()">
  <h6><i style="color:#ffb700" class="bi bi-exclamation-circle-fill"></i> You must have at least 5 games for the leaderboard</h6>
</div>

<div class="container px-2" id="leaderboardSeason" [hidden]="hideLeaderboard()">
  <h2 class="pb-2 border-bottom">Leaderboard</h2>
  <table class="table table-sm table-striped">
    <thead>
    <tr>
      <th><i class="bi bi-person-circle"></i> Player</th>
      <th>1st <i style="color:#ffd700" class="bi bi-award-fill"></i></th>
      <th>2nd <i style="color:#e0e4f8" class="bi bi-award-fill"></i></th>
      <th>3rd <i style="color:#ff9377" class="bi bi-award-fill"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let player of groupedByPlayerWins" class="small" >
      <td> {{ player.player }} </td>
      <td> {{ player.first  }} </td>
      <td> {{ player.second }} </td>
      <td> {{ player.third }} </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #pointsNull>
  <td></td>
</ng-template>
</div>
