<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle" aria-controls="toggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button-->
  <div class="navbar-expand mx-auto" id="toggle">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="season/2022" routerLinkActive="active" class="nav-link" >Season '22</a>
      </li>
      <li class="nav-item">
        <a routerLink="season/2021" routerLinkActive="active" class="nav-link" >Season '21</a>
      </li>
      <li class="nav-item">
        <a routerLink="season/2020" routerLinkActive="active" class="nav-link" >Season '20</a>
      </li>
      <li class="nav-item">
        <a routerLink="overall" routerLinkActive="active" class="nav-link" >Overall</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
